// TODO: Define reset password email template
!!! 5
html(lang="en")
  head
    title= "#{appName} - Password Reset"
  body
    h1 Reset your password!
    #container
      p Hello #{user.get('username')}! Please click (href='#{link}') here to reset your current password.
      p Have fun with out app!
      p ~ Your #{appName} team <3
