!!! 5
html(lang="en")
  head
    title= "#{appName} - Email Verification"
  body
    h1 Verify your Email!
    #container
      p Hello #{user.get('username')}! Please click (href='#{link}') here to verify your email address.
      p Have fun with out app!
      p ~ Your #{appName} team <3
